/*
 * File: YouTubePlayer.module.css
 * Project: moovee
 * File Created: Sunday, 17th May 2020 12:07:59 am
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 17th May 2020 1:06:53 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.video-container {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  box-sizing: border-box;
  top: 0%;
  left: 0%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000c;
  z-index: 98;
}

.close {
  position: fixed;
  left: 0;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.close button {
  background: #000;
  border-radius: 4px;
  box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.024),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 30.1px 24.1px rgba(0, 0, 0, 0.046),
    0 100px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  border: 2px solid #fff;
}

/* @media screen and (max-width: 600px) {
  .video-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
} */
