/*
 * File: Movie-Card.css
 * Project: moovee
 * File Created: Friday, 8th May 2020 9:02:02 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 17th May 2020 1:26:26 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.movie-card {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.movie-card-container {
  padding: 1rem;
  min-width: 130px;
  max-width: 250px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 3.3px 6.4px rgba(0, 0, 0, 0.016),
    0 10.9px 21.4px rgba(0, 0, 0, 0.024), 0 49px 96px rgba(0, 0, 0, 0.04);
}
.image {
  width: 100%;
  min-height: 250px;
}

.title {
  margin-top: 0.5rem;
  max-height: 16px;
  font-size: 0.8rem;
  overflow: hidden;
}

.date {
  font-size: 0.8rem;
  margin: 4px 0;
  color: var(--text-light);
}
.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rating p {
  margin-left: 4px;
  color: var(--text-light);
  font-size: 0.7rem;
}

.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Skeleton Styles */

.picture-loading {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}

.info-loading {
  width: 100%;
  margin-top: 12px;
  height: 24px;
  border-radius: 4px;
}
.controls-loading {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  border-radius: 4px;
}

.button-loading {
  width: 80px;
  height: 100%;
  border-radius: 4px;
}

.favorites-loading {
  width: 30px;
  height: 100%;
  border-radius: 4px;
}

@media screen and (max-width: 599px) {
  .title {
    font-size: 0.9rem;
  }
}
