/*
 * File: Home.css
 * Project: moovee
 * File Created: Friday, 8th May 2020 8:39:35 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Saturday, 9th May 2020 1:07:56 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 42px 0;
}

@media screen and (max-width: 599px) {
  .container {
    width: 95%;
  }
}
