/*
 * File: Backdrop.module.css
 * Project: moovee
 * File Created: Friday, 15th May 2020 11:30:54 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Saturday, 16th May 2020 12:09:57 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.backdrop {
  position: fixed;
  top: -80px;
  z-index: 2;
  width: 100%;
  height: calc(100% + 80px);
  background-color: #00000080;
}
