/*
 * File: Header.css
 * Project: moovee
 * File Created: Friday, 8th May 2020 8:19:10 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 15th May 2020 11:43:24 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
.header {
  margin: 0 auto;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 9px 8px -9px rgba(0, 0, 0, 0.07);
}

.header-container {
  height: 80px;
  color: var(--primary);
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.brand img {
  height: 30px;
}

.menu ul {
  padding: 0;
  display: flex;
  margin: 0;
  list-style: none;
}
.menu ul li {
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 16px;
}
.menu ul li a {
  text-decoration: none;
  color: var(--primary);
}
.menu ul li a img {
  width: 22px;
}

.mobile-menu-toggle {
  display: none;
}

@media screen and (max-width: 599px) {
  nav.menu {
    position: absolute;
    z-index: 999;
    top: 104px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 4.1px 10px rgba(0, 0, 0, 0.035),
      0 33px 80px rgba(0, 0, 0, 0.07);
  }

  nav.menu ul {
    justify-content: space-between;
    align-items: center;
  }

  nav.menu ul li {
    padding: 0;
  }

  .mobile-menu-toggle {
    display: block;
  }
  .menu {
    display: none;
  }

  .menu.enabled {
    display: block;
  }
}
