/*
 * File: Header.css
 * Project: moovee
 * File Created: Friday, 8th May 2020 8:19:10 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 10th May 2020 5:22:02 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
.header {
  margin: 0 auto;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 9px 8px -9px rgba(0, 0, 0, 0.07);
}

.header-container {
  height: 80px;
  color: var(--primary);
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.brand img {
  height: 30px;
}

.menu ul {
  padding: 0;
  display: flex;
  margin: 0;
  list-style: none;
}
.menu ul li {
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 16px;
}

.mobile-menu-toggle {
  display: none;
}

@media screen and (max-width: 599px) {
  .mobile-menu-toggle {
    display: block;
  }
  .menu {
    display: none;
  }
}
