/*
 * File: Footer.module.css
 * Project: moovee
 * File Created: Saturday, 16th May 2020 11:46:54 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Saturday, 16th May 2020 11:59:49 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #e6e6e6;
}

.footer img {
  height: 20px;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 24px 0;
    flex-flow: column;
    height: 100px;
  }
  .footer p {
    order: 3;
  }
}
