/*
 * File: App.css
 * Project: moovee
 * File Created: Thursday, 7th May 2020 9:48:43 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 8th May 2020 9:25:25 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

:root {
  --primary: #120d31;
  --secondary: #011627;
  --accent: #8fb339;
}

button {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

button.primary {
  background-color: var(--primary);
  color: #fff;
}

button.link {
  color: var(--primary);
  background: none;
}

button.icon-primary {
  background: none;
  padding: 0;
  outline: none;
}
