/*
 * File: App.css
 * Project: moovee
 * File Created: Thursday, 7th May 2020 9:48:43 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Saturday, 16th May 2020 11:17:38 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

:root {
  --primary: #120d31;
  --secondary: #011627;
  --accent: #8fb339;

  /* Text Colors */
  --text-light: #696969;

  /* Screen Sizes */
  --mobile: 599px;
}

button {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

button.primary {
  background-color: var(--primary);
  color: #fff;
}

button.link {
  color: var(--primary);
  background: none;
}

button.icon-primary {
  background: none;
  padding: 0;
  outline: none;
}

.heading {
  margin: 12px 0;
}

.section-heading {
  padding: 8px;
}

.box-layout {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 599px) {
  button {
    font-size: 0.8rem;
  }
}
