/*
 * File: MovieSearch.css
 * Project: moovee
 * File Created: Sunday, 10th May 2020 4:21:30 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Wednesday, 20th May 2020 11:51:29 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.movie-search {
  display: flex;
  flex-flow: column;
}
.movie-search__input-field {
  padding: 1.2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

.movie-search__input-field input {
  border: none;
  outline: none;
  width: 100%;
  line-height: 18px;
}

.movie-search-icon {
  margin-right: 8px;
}
.movie-filter-icon {
  cursor: pointer;
}

/* Search Empty Styles */
.search-empty {
  padding: 16px;
  margin: 600px;
  margin: 0 auto;
  text-align: center;
}
.search-empty figure {
  margin-bottom: 24px;
}
.search-empty h1 {
  margin-bottom: 16px;
}
.search-empty p {
  color: var(--text-light);
}
